<%- include('template/head.ejs') %> 

<section class="main-content">
  <span style="font-size: 20px;">Syntil</span><br>
  <a href="/register/">Register</a><br>
  <a href="/login/">Login</a><br>
  <a href="/logout/">Logout</a><br>
</section>

<%- include('template/footer.ejs') %> 