<%- include('../template/head.ejs') %> 

<section class="main-content">
  <span style="font-size: 20px;">Register</span><br><br>
  <form id="form">
    <span>Email</span><br>
    <input type="email" name="email" id="email" placeholder="Your email here!"><br>
    <span>Username</span><br>
    <input type="text" name="username" id="username" placeholder="Your username here!"><br>
    <span>Password</span><br>
    <input type="password" name="password" id="password" placeholder="Your password here!"><br><br>
    <input type="submit" value="Register">
  </form>
</section>

<script src="/javascripts/register.js"></script>

<%- include('../template/footer.ejs') %> 